<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016646892735-e5e7sbu19iuqah80toffvr4ge8vl39qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016646892735-e5e7sbu19iuqah80toffvr4ge8vl39qa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1016646892735-46ore8n2ocsn7sa9f4a6ngp46p1ldsmo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDjR-TCTfoTCBx01PyI06AJNuZP_dlcZA</string>
	<key>GCM_SENDER_ID</key>
	<string>1016646892735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnJava</string>
	<key>PROJECT_ID</key>
	<string>applearnjava</string>
	<key>STORAGE_BUCKET</key>
	<string>applearnjava.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016646892735:ios:735665855cc19033d51a0a</string>
</dict>
</plist>